code/
codebook_definitions/*
!codebook_definitions/.gitkeep
notes/
input/*
!input/.gitkeep
irr_input/*
!irr_input/.gitkeep
out/
output/*
!output/.gitkeep
transcripts/*
!transcripts/.gitkeep
secret.py
# Ignore Python bytecode files
__pycache__/
*.pyc
codetexts/*
!codetexts/.gitkeep