code/
codebook_definitions/*
!codebook_definitions/.gitkeep
notes/
input/*
!input/.gitkeep
irr_input/*
!irr_input/.gitkeep
out/
output/*
!output/.gitkeep
transcripts/*
!transcripts/.gitkeep
secret.py
.env
codetexts/*
!codetexts/.gitkeep

# Ignore Python bytecode files
__pycache__/
*.pyc

backend/codebook_definitions/*
!backend/codebook_definitions/.gitkeep
backend/notes/
backend/input/*
!backend/input/.gitkeep
backend/irr_input/*
!backend/irr_input/.gitkeep
backend/out/
backend/output/*
!backend/output/.gitkeep
backend/transcripts/*
!backend/transcripts/.gitkeep
backend/secret.py
backend/.env
backend/codetexts/*
!backend/codetexts/.gitkeep